@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
  --bs-system-bg: #fff;
  --bs-aside-bg: rgb(247, 247, 248);
  --bs-heading-color: rgb(34, 37, 42);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body{
  height: 100%;
}

body{
  background-color: var(--bs-system-bg);
  font-family: "Inter";
  display: flex;
}

h1,h2,h3,h4,h5,h6{
  color: var(--bs-heading-color);
}

a{
  text-decoration: none;
}

ul{
  list-style-type: none;
}